# Compressed Files
*.root
*.zip
*.rar

# Pictures
*.gif
*.eps
*.jpg
*.pdf
*.png

# Compilation extras
*.pyc

# SCRAM extras
__init__.py
__init__.pyc

# Executables
*_process

# Data files

# Logs
nohup.out
*.log

# References
References/*

# Notes
*.todo
jegyzet.txt
jegyzet.md

# Sublime text files
*.sublime-*
*.temp

# Instlumi and pileup maps
# Resources/Sources/Includes/Histogram_generation/Fill_parameters/Instlumi_map/run_ls_instlumi_pileup_2012.txt
# Resources/Sources/Includes/Histogram_generation/Fill_parameters/Instlumi_map/run_ls_instlumi_pileup_2015.txt
